/* Meyers reset*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/* CSS struktur
.........................................................................*/
/* REGELER FOR CSS:
- Alt der har med fonte at gøre står samlet i toppen
- Lav afsnit og en overskuelig struktur
- Skriv kommentarer!
- Alt skrives i procent eller em!
*/



/* Generelt
.........................................................................*/
/* Font
.........................................................................*/

@import url('https://fonts.googleapis.com/css?family=Orienta&display=swap');


/* Farver
..................................................*/
/* CSS variabler med farverne */
:root {
    --darkBlue: #214050;
    /* --lightBlue: #40687f; */
    /* --lightBlue: #1c6881; */
    --lightBlue: #1c6881;
    --lightBlueFaded: rgba(50, 100, 255, .3);
    /* --lightBlueFaded: rgba(64, 104, 128, .3); */
    --grey: #808184;
    --white: rgba(255, 255, 255, .95);
    --lightlightblue: #eef1f6;
    --green: rgba(111, 211, 38, .8);

    --pad: 2% 3%;
    --padtb: 4% 0 2%;

    --thickBorder: 3px solid var(--darkBlue);
    --shadow: 0px 0px 25px var(--darkBlue);
}

/* Skrifter
..................................................*/
body {
    font: 12px/18px;
    font-family: 'Arial', sans-serif;
    color: var(--darkBlue);
    /*XXX*/
    background-color: var(--lightlightblue);
    position: relative;
    background-image: url("../img/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.dataInfo {
    font-size: 0.8em;
    line-height: 1.9em;
}

label,
h3 {
    font-size: 1.2em;
}

::placeholder {
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--darkBlue);
}

h1 {
    font-style: serif;
    font-size: 1.8em;
    font-weight: bold;
    padding: 3% 0;
    margin-bottom: 1em;
    text-align: center;
}

h2 {
    /* font-family: serif; */
    font-size: 1.8em;
}


/* Tabeloverskrift */
th {
    font-weight: bold;
    vertical-align: bottom;
}

/* Tabel indhold */
td {
    font-size: 0.8em;
}

button {
    font-size: .8em;
    color: var(--darkBlue);
    margin: 0 auto;
    text-align: center;
}

/* Flex
..................................................*/
.flexContainer {
    display: flex;
    flex-wrap: wrap;
}


/* Header
.........................................................................*/
header,
footer {
    height: 1.5em;

}

/*FJERN*/



/* Main
.........................................................................*/



main {
    justify-content: space-around;
}


/* Loadingbar................................................................ */
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../images/default.gif');
    background-repeat: no-repeat; 
    background-color: #FFF;
    background-position: center;
 }




/* Sidebar
..................................................*/
aside {
    width: 18%;
    background-color: var(--white);
    height: 100%;
    padding: var(--pad);
    border: var(--thickBorder);
    box-shadow: var(--shadow);



}

input[type=text] {
    width: 100%;
    padding: .5em;
    margin: .2em 0 1.5em;
    /* border: 2px solid var(--lightBlue); */
    /* border-radius: 4px; */
    outline: 2px solid var(--lightBlue);
    box-sizing: border-box;
}

input[type=text]:hover {
    outline: 3px solid var(--lightBlue);
    background-color: var(--lightBlueFaded);
}


/* Content area
..................................................*/
#tabs {
    width: 70%;
    border: var(--thickBorder);
    border-top: none;
    box-shadow: var(--shadow);
    background-color: var(--white);
}



/* Navigation
............................*/
/* #tabs {
    border: var(--thickBorder);
} */

nav ul {
    width: 100%;
    list-style: none;

    justify-content: space-between;
}

nav li {
    float: left;
    width: 49.7%;
    text-align: center;
    box-shadow-: ;

    background-color: lemonchiffon;

    /* border: var(--thickBorder); */
    border-bottom: none;
}

nav li:active,
nav li:focus {
    border: none;
}

nav li h2 {
    padding: 3% 0;
    border: none;
}

nav li a:focus {
    border: none;
}

#liBilling {
    border-top: var(--thickBorder);
    border-right: var(--thickBorder);
}

#liStatistics {
    border-top: var(--thickBorder);
    border-left: var(--thickBorder);
}

#tabs-1,
#tabs-2 {
    border: none;
}


/* Indholdet
............................*/
section {
    width: 100%;
}

.datepicker-here {
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5em 0;
}

.dataInfo {
    padding-top: 2em;
    padding-bottom: 1em;
    width: 33%;

}

article {
    padding: var(--pad);

}

/* Billing
.....................*/

/* Tabellen
...........*/
table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    margin: 0 auto;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: .5em;
}

/* tr:nth-child(even) {
    background-color: var(--lightBlueFaded);
} */

tr:hover {
    background-color: var(--lightBlueFaded);
}

#tableHeadlines:hover {
    background-color: transparent;
}


/* Knapper
...........*/
.btn {
    /* border: none; */
    border: 2px solid var(--green);
    border-radius: 5px;
    /* background-color: var(--green); */
    background-color: transparent;
    padding: .5em .5em;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

/* On mouse-over */
.btn:hover {
    background: var(--green);
}

/* Statistics
.....................*/

/* Grafen
...........*/
.chart rect {
    fill: var(--lightBlueFaded);
}

.chart text {
    fill: var(--darkBlue);
    font: 14px sans-serif;
    text-anchor: end;
}

.chart .label {
    fill: var(--darkBlue);
    font: 14px sans-serif;
    text-anchor: end;
}

.bar:hover {
    fill: var(--lightBlue);
}

.axis path {
    fill: none;
    stroke: var(--darkBlue);
    shape-rendering: crispEdges;
}



/* Footer
.........................................................................*/




/* @media query! Skærme over XXXpx
..................................................................*/