/* Meyers reset*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/* CSS struktur
.........................................................................*/
/* REGELER FOR CSS:
- Alt der har med fonte at gøre står samlet i toppen
- Lav afsnit og en overskuelig struktur
- Skriv kommentarer!
- Alt skrives i procent eller em!
*/



/* Generelt
.........................................................................*/
/* Font
.........................................................................*/

@import url('https://fonts.googleapis.com/css?family=Orienta&display=swap');


/* Farver
..................................................*/
/* CSS variabler med farverne */
:root {
    --darkBlue: #214050;
    --lightBlue: #40687f;
    --lightBlueFaded: rgba(50, 100, 255, .3);
    --grey: #808184;
    --white: rgba(255,255,255,0.95);
    --lightlightblue:#eef1f6;

    --pad: .5em 1em;
   
    --thickBorder: 3px solid var(--darkBlue);
    --shadow: 0px 0px 25px var(--darkBlue);
}

/* Skrifter
..................................................*/
body {
    font: 12px/18px;
    font-family: 'Orienta', sans-serif;
    /*XXX*/
    background-color: var(--lightlightblue);
    background-image: url("../img/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

/* Flex
..................................................*/
.flexContainer {
    display: flex;
    flex-wrap: wrap;
}


/* Header
.........................................................................*/
header,
footer {
    height: 100px;
  
}

/*FJERN*/



/* Main
.........................................................................*/
main {
    /*FJERN*/
    height: 600px;
}


main {
    justify-content: space-around;
}







/* Sidebar
..................................................*/
aside {
    width: 18%;
    background-color: var(--white);
    height: 100%;
    padding: var(--pad);
    border: var(--thickBorder);
    box-shadow: var(--shadow);
    
    
    
}

input[type=text] {
    width: 100%;
    padding: .5em;
    margin: .2em 0 1.5em;
    /* border: 2px solid var(--lightBlue); */
    /* border-radius: 4px; */
    outline: 2px solid var(--lightBlue);
    box-sizing: border-box;
}

input[type=text]:hover {
    outline: 3px solid var(--lightBlue);
}


/* Time and date */




/* Content area
..................................................*/
div {
    width: 70%;
    border: var(--thickBorder);
    border-top: none;
    box-shadow: var(--shadow);
}

/* Navigation
............................*/
#tabs {border: var(--thickBorder);}
nav ul {
    width: 100%;
    list-style: none;

    justify-content: space-between;
}

nav li {
    float: left;
    width: 49.5%;
    text-align: center;
  
    background-color: lemonchiffon;
    border: var(--thickBorder);
    border-bottom: none;
}

nav li h2{  padding: 3% 0;}

#liBilling{border-left: none;}
#liStatistics{border-right: none;}

#tabs-1, #tabs-2 {max-height: 100%; border-bottom: none;}

/* nav li h2:hover{transform: scale(1.5);} */

/* Indholdet
............................*/
.dataInfo{width: 35%;}

article {
    background-color: var(--white);
    padding: var(--pad);
}

#changingContent {
    height: 70%;
}

/* Billing
.....................*/

/* Tabellen
...........*/
table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: .5em;
  }
  
  tr:nth-child(even) {
    background-color: var(--lightBlueFaded);
  }


/* Knapper
...........*/
  .btn {
    border: none;
    border-radius: 10px;
    background-color: greenyellow;
    padding: var(--pad);
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* On mouse-over */
  .btn:hover {background: darkgreen;}

/* Statistics
.....................*/

/* Grafen
...........*/
.chart rect {
    fill: var(--lightBlueFaded);
  }
  
  .chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }
  
  .chart .label {
    fill: var(--darkBlue);
    font: 14px sans-serif;
    text-anchor: end;
  }
  
  .bar:hover {
    fill: var(--lightBlue);
  }
  
  .axis path {
    fill: none;
    stroke: var(--darkBlue);
    shape-rendering: crispEdges;
  }



/* Footer
.........................................................................*/




/* @media query! Skærme over XXXpx
..................................................................*/